<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="row card-body">
        <div class="col-8">
          <h5 class="card-title">{{ title }}</h5>
          <p>{{ description }}</p>
        </div>
        <div class="col-4">
          <div class="top-right-button-container m-3">
            <button type="button" class="btn {{ actionButton.classes }}" *ngFor="let actionButton of mainActionButtons; let i = index"
                    [ngClass]="actionButtonClasses(i)" (click)="actionButton.onClick(i)"> {{ actionButton.name }} </button>
          </div>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="bi bi-funnel pe-2"></i>  Filter </button></h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form class="row g-3">
                  <div class="col-md-4" *ngFor="let filter of tableFilters.filters; let i = index;" [ngSwitch]="filter.filerType">
                    <div *ngSwitchCase="tableFilterEnum.INPUT_TEXT">
                      <label for="idText{{i}}" class="col-sm-10 form-label">{{ filter.title }}</label>
                      <input id="idText{{i}}" type="text" class="form-control" [value]="filter.out">
                    </div>
                    <div *ngSwitchCase="tableFilterEnum.INPUT_NUMERIC">
                      <label for="idNumeric{{i}}" class="col-sm-10 form-label">{{ filter.title }}</label>
                      <input id="idNumeric{{i}}" type="text" class="form-control" [value]="filter.out? filter.out: ''">
                    </div>
                    <div *ngSwitchCase="tableFilterEnum.DATE_PICKER">
                      <label for="inputDate{{i}}" class="col-sm-10 col-form-label">{{ filter.title }}</label>
                      <div id="inputDate{{i}}" class="col-sm-10"><input type="date" class="form-control" [value]="filter.out? filter.out: ''"></div>
                    </div>
                    <div *ngSwitchCase="tableFilterEnum.TIME_PICKER">
                      <label for="inputTime{{i}}" class="col-sm-10 col-form-label">{{ filter.title }}</label>
                      <div id="inputTime{{i}}" class="col-sm-10"><input type="time" class="form-control" [value]="filter.out? filter.out: ''"></div>
                    </div>
                    <div *ngSwitchCase="tableFilterEnum.SELECT_OPTION">
                      <label for="inputSelect{{i}}" class="col-sm-10 col-form-label">{{ filter.title }}</label>
                      <select class="form-select" aria-label="Default select example" [(ngModel)]="filter.out" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let resultValue of filter.in; let j =index" [ngValue]="resultValue">
                          {{resultValue}}
                        </option>
                      </select>
                    </div>
                    <div *ngSwitchCase="tableFilterEnum.MULTI_SELECT_OPTION">
                      <label for="inputTime{{i}}" class="col-sm-10 col-form-label">{{ filter.title }}</label>
                      <div id="inputTime{{i}}" class="col-sm-10"><input type="time" class="form-control" [value]="filter.out? filter.out: ''"></div>
<!--                      <angular2-multiselect [data]="dropdownList" [(ngModel)]="primarySelectedItems"-->
<!--                                            [settings]="dropdownSettings"-->
<!--                                            (onSelect)="onItemSelect($event)"-->
<!--                                            (onDeSelect)="OnItemDeSelect($event)"-->
<!--                                            (onSelectAll)="onSelectAll($event)"-->
<!--                                            (onDeSelectAll)="onDeSelectAll($event)">-->
<!--                      </angular2-multiselect>-->
                    </div>
                  </div>
<!--                  <div class="col-md-4">-->
<!--                    <label for="inputState" class="form-label">Http Method</label>-->
<!--                    <select id="inputState" class="form-select">-->
<!--                      <option>POST</option>-->
<!--                      <option>GET</option>-->
<!--                    </select>-->
<!--                  </div>-->
                  <div class="text-end"><div class="btn btn-primary">Filter</div></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <table class="table datatable">
          <thead>
          <tr>
            <th scope="col" *ngFor="let headerName of tableHeaders">{{ headerName }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of tableRecords; let i = index">
            <td *ngFor="let value of data.values">{{ value }}</td>
            <td style="width: 120px">
              <div class="top-right-button-container">
                <a *ngFor="let recordButton of data.actionButtons" (click)="recordButton.onClick(i)"
                   class="btn  {{ recordButton.classes }} shadow btn-xs me-2"><i
                  class="{{ recordButton.bootstrapIcon}}"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="tableRecords == undefined || tableRecords?.length == 0"><p>No Records</p></div>
        <nav aria-label="Page navigation example" *ngIf="tableRecords != undefined && tableRecords.length != 0 && paginationConfig != undefined && paginationConfig.nbOfPages != 0">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="this.selectedPageNumber == 0? 'disabled': ''"><a class="page-link" (click)="onPrevious()">Previous</a></li>
            <li class="page-item" [ngClass]="this.selectedPageNumber == i? 'disabled': ''" *ngFor="let _ of [].constructor(paginationConfig.nbOfPages); let i = index"><a class="page-link" (click)="onPageChange(i)">{{ i + 1  }}</a></li>
            <li class="page-item" [ngClass]="this.selectedPageNumber == paginationConfig.nbOfPages- 1? 'disabled': ''"><a class="page-link" (click)="onNext()">Next</a></li>
          </ul>
        </nav>
      </div>
      </div>
    </div>
  </div>
